{{#with graphicCard}}
<div class="product-specs">
  <section class="product-specs-section">
    <h2 class="product-specs-title">Characteristics</h2>
    <ul class="product-specs-list">
      <li class="product-specs-list-item"><strong>Family: </strong>{{graphicCard.characteristics.family}}</li>
      <li class="product-specs-list-item"><strong>Graphics Processor:
        </strong>{{graphicCard.characteristics.graphicProcessor}}</li>
      <li class="product-specs-list-item"><strong>Maximum resolution:
        </strong>{{graphicCard.characteristics.maximumResolution}}</li>
    </ul>
    <section class="products-specs-list">
      <h2 class="products-specs-title">Memory</h2>
      <ul class="products-specs-list">
        <li class="products-spects-list-item"><strong>Capacity: </strong>{{graphicCard.memory.capacity}}</li>
        <li class="products-spects-list-item"><strong>Type: </strong>{{graphicCard.memory.type}}</li>
        <li class="products-spects-list-item"><strong>Velocity: </strong>{{graphicCard.memory.velocity}}</li>
      </ul>
    </section>
    <section class="products-specs-list">
      <h2 class="products-specs-title">Type and ports</h2>
      <ul class="products-specs-list">
        <li class="products-spects-list-item"><strong>Type: </strong>{{graphicCard.typeAndPorts.type}}</li>
        <li class="products-spects-list-item"><strong>HDMI: </strong>{{graphicCard.typeAndPorts.hdmi}}</li>
        <li class="products-spects-list-item"><strong>Display port: </strong>{{graphicCard.typeAndPorts.displayPort}}
        </li>
        <li class="products-spects-list-item"><strong>VGA: </strong>{{graphicCard.typeAndPorts.vga}}
        </li>
        <li class="products-spects-list-item"><strong>DVI: </strong>{{graphicCard.typeAndPorts.dvi}}
        </li>
      </ul>
    </section>
    <section class="product-specs-section">
      <h2 class="product-specs-title">cooling</h2>
      <ul class="product-specs-list">
        <li class="product-specs-list-item"><strong>Fan size: </strong>{{graphicCard.cooling.fanSize}}</li>
        <li class="product-specs-list-item"><strong>Type: </strong>{{graphicCard.cooling.type}}</li>
      </ul>
    </section>
    <section class="product-specs-section">
      <h2 class="product-specs-title">Energy</h2>
      <ul class="product-specs-list">
        <li class="product-specs-list-item"><strong>Voltage: </strong>{{graphicCard.energy.voltage}}</li>
      </ul>
    </section>
    <section class="product-specs-section">
      <h2 class="product-specs-title">Weight and dimensions</h2>
      <ul class="product-specs-list">
        <li class="product-specs-list-item"><strong>Width: </strong>{{graphicCard.weightAndDimensions.width}}</li>
        <li class="product-specs-list-item"><strong>Height: </strong>{{graphicCard.weightAndDimensions.height}}</li>
        <li class="product-specs-list-item"><strong>Depth: </strong>{{graphicCard.weightAndDimensions.depth}}</li>
        <li class="product-specs-list-item"><strong>Weight: </strong>{{graphicCard.weightAndDimensions.weight}}</li>
      </ul>
    </section>
</div>
{{/with}}