{{#with powerSupply}}
<div class="form-section">
  <h2 class="form-title">Energy</h2>
  <div class="form-field">
    <input type="text" name="voltage" id="voltage" placeholder="Empty" value="{{this.energy.voltage}}">
    <label for="voltage">Voltage</label>
  </div>
</div>
<div class="form-section">
  <h2 class="form-title">Cooling</h2>
  <div class="form-field">
    <input type="text" name="fanSize" id="fan-size" placeholder="Empty" value="{{this.cooling.fanSize}}">
    <label for="fan-size">Fan size</label>
  </div>
</div>
<div class="form-section">
  <h2 class="form-title">Weight and dimensions</h2>
  <div class="form-field">
    <input type="text" name="width" id="width" placeholder="Empty" value="{{this.weightAndDimensions.width}}">
    <label for="width">Width</label>
  </div>
  <div class="form-field">
    <input type="text" name="height" id="height" placeholder="Empty" value="{{this.weightAndDimensions.height}}">
    <label for="height">Hidth</label>
  </div>
  <div class="form-field">
    <input type="text" name="depth" id="depth" placeholder="Empty" value="{{this.weightAndDimensions.depth}}">
    <label for="depth">Depth</label>
  </div>
  <div class="form-field">
    <input type="text" name="weight" id="weight" placeholder="Empty" value="{{this.weightAndDimensions.weight}}">
    <label for="weight">Weight</label>
  </div>
</div>
{{/with}}