<div class="profile">
  <header class="profile-header">
    <h1 class="profile-username">{{user.profile.username}}</h1>
  </header>
  <div class="tabs">
    <form class="profile-content" action="/profile/edit/{{user.id}}" method="post">
      <div class="profile-section">
        <h2 class="profile-section-title">Profile</h2>
        <div class="profile-section-content">
          <div class="profile-label">
            <input type="text" name="name" id="name" value="{{user.profile.name}}" placeholder="Empty">
            <label for="name">Name</label>
          </div>
          <div class="profile-label">
            <input type="text" name="surname" id="surname" value="{{user.profile.surname}}" placeholder="Empty">
            <label for="surname">Surname</label>
          </div>
          <div class="profile-label">
            <input type="text" name="status" id="status" value="{{user.profile.status}}" disabled placeholder="Empty"></dd>       
            <label for="status">Status</label>
          </div>
        </div>
      </div>
      <div class="profile-section">
        <h2 class="profile-section-title">Contact</h2>
        <dl class="profile-section-content">
          <div class="profile-label">
            <input type="email" name="email" id="email" value="{{user.contact.email}}" placeholder="Empty"></dd>       
            <label for="email">Email</label>
          </div>
          <div class="profile-label">
            <input type="text" name="phone" id="phone" value="{{user.profile.phone}}" placeholder="Empty"></dd>       
            <label for="phone">Phone</label>
          </div>
        </dl>
      </div>
      <div class="profile-section">
        <h2 class="profile-section-title">Addresses</h2>
        <div class="profile-section-content profile-address-content">
          <div class="profile-label">
            <input type="text" name="address" id="address" value="{{this.address}}" placeholder="Empty"></dd>       
            <label for="address">Address</label>
          </div>
          <div class="profile-label">
            <input type="number" name="buildingNumber" id="building-number" value="{{this.buildingNumber}}" placeholder="Empty"></dd>       
            <label for="building-number">Building number</label>
          </div>
          <div class="profile-label">
            <input type="number" name="zipCode" id="zip-code" value="{{this.zipCode}}" placeholder="Empty"></dd>       
            <label for="zip-code">ZIP code</label>
          </div>
          <div class="profile-label">
            <input type="number" name="suiteNumber" id="suite-number" value="{{this.suiteNumber}}" placeholder="Empty"></dd>       
            <label for="suite-number">Suite number</label>
          </div>
          <div class="profile-label">
            <input type="text" name="country" id="country" value="{{this.country}}" placeholder="Empty"></dd>       
            <label for="country">Country</label>
          </div>
          <div class="profile-label">
            <input type="text" name="stateProvince" id="state-province" value="{{this.stateProvince}}" placeholder="Empty"></dd>       
            <label for="state-province">State / province</label>
          </div>
          <div class="profile-label">
            <input type="text" name="city" id="city" value="{{this.city}}" placeholder="Empty"></dd>       
            <label for="city">City</label>
          </div>
        </div>
      </div>
      <div class="form-actions">
        <input type="submit" value="Update" class="button submit-button">
      </div>
    </form>
    <div class="profile-shipments">
      
    </div>
  </div>
</div>
