<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>

  {{#if message}}
  <div class="toast">
    <p class="toast-message">{{message}}</p>
  </div>
  {{/if}}

  <nav class="nav">
    <ul class="main-menu">
      <li class="main-menu-item"><a href="/">Home</a></li>
      <li class="main-menu-item"><a href="#">Components</a>
        <ul class="sub-menu">
          <li class="sub-menu-item"><a href="/products/components" class="sub-menu-link">All components</a></li>
          <li class="sub-menu-item"><a href="/products/cases" class="sub-menu-link">Cases</a></li>
          <li class="sub-menu-item"><a href="/products/power-supplies" class="sub-menu-link">Power supplies</a></li>
          <li class="sub-menu-item"><a href="/products/cooling-systems" class="sub-menu-link">Cooling systems</a></li>
          <li class="sub-menu-item"><a href="/products/hard-drives" class="sub-menu-link">Hard drives</a></li>
          <li class="sub-menu-item"><a href="/products/motherboards" class="sub-menu-link">Motherboards</a></li>
          <li class="sub-menu-item"><a href="/products/ram-memories" class="sub-menu-link">RAM memories</a></li>
          <li class="sub-menu-item"><a href="/products/processors" class="sub-menu-link">Processors</a></li>
          <li class="sub-menu-item"><a href="/products/graphics-cards" class="sub-menu-link">Graphics cards</a></li>
        </ul>
      </li>
      <li class="main-menu-item"><a href="#">Peripherials</a>
        <ul class="sub-menu">
          <li class="sub-menu-item"><a href="/products/peripherals" class="sub-menu-link">All peripherals</a></li>
          <li class="sub-menu-item"><a href="/products/monitors" class="sub-menu-link">Monitors</a></li>
          <li class="sub-menu-item"><a href="/products/keyboards" class="sub-menu-link">Keyboards</a></li>
          <li class="sub-menu-item"><a href="/products/mouses" class="sub-menu-link">mouses</a></li>
        </ul>
      </li>

      {{#if user}}
      <li class="main-menu-item"><a href="/profile/{{user.id}}">Profile</a></li>
      <li class="main-menu-item"><a href="/auth/logout">Logout</a></li>
      {{else}}
      <li class="main-menu-item"><a href="#">Login</a></li>
      <li class="main-menu-item"><a href="#">Signup</a></li>
      {{/if}}
    </ul>
  </nav>

  {{#unless user}}
  <div class="lightbox" id="login-lightbox">
    <div class="modal">
      <div class="modal-header">
        <h2 class="modal-title">Login</h2>
      </div>
      <div class="modal-content">
        <form action="/auth/login" class="form" method="post">
          <div class="form-section">
            <div class="form-layout">
              <div class="form-field">
                <input type="text" name="username" id="username"
                  placeholder="Username">
                <label for="username">Username</label>
              </div>
              <div class="form-field">
                <input type="password" name="password" id="password"
                  placeholder="Password">
                <label for="password">Password</label>
              </div>
            </div>
          </div>
          <div class="form-actions">
            <input type="submit" value="Login" class="button submit-button">
            <a href="/auth/google" class="button google-button">Login with Google</a>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="lightbox" id="signup-lightbox">
    <div class="modal">
      <div class="modal-header">
        <h2 class="modal-title">Signup</h2>
      </div>
      <div class="modal-content">
        <form action="/auth/signup" method="POST" id="form-container"
          class="form">
          <div class="form-section">
            <div class="form-layout">
              <div class="form-field">
                <input type="text" name="username" id="signup-username"
                  placeholder="Username">
                <label for="signup-username">Username</label>
              </div>
              <div class="form-field">
                <input type="email" name="email" id="email" placeholder="Email">
                <label for="email">Email</label>
              </div>
              <div class="form-field">
                <input type="password" name="password" id="signup-password"
                  placeholder="Password">
                <label for="signup-password">Password</label>
              </div>
            </div>
          </div>
          <div class="form-actions">
            <input type="submit" value="Signup" class="button submit-button">
            <a href="/auth/google" class="button google-button">Signup with Google</a>
          </div>
        </form>
      </div>
    </div>
  </div>
  {{/unless}}

  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>

</html>