{{#with product}}
<li class="product-list-li">
  <div class="product-list-item">
    <h2 class="product-list-item-title">{{this.productInfo.model}}</h2>
    <img src="{{this.images.gallery.[0].path}}"
      alt="{{this.productInfo.model}}" class="product-list-item-image">
    {{#isAdmin ../user}}
    <a href="/admin/products/{{this._id}}" class="button primary-button">Edit</a>
    <a href="/admin/products/delete/{{this._id}}" class="button primary-button">Delete</a>
    {{else}}
    <a href="/products/detail/{{this._id}}" class="button primary-button">View</a>
    {{/isAdmin}}
  </div>
</li>
{{/with}}