{{#with product}}
<div class="product-general">

  {{!-- Product title (model) --}}
  <div class="product-general-header">
    <h1 class="product-general-model">{{productInfo.model}}</h1>
    <p class="product-general-category">{{productInfo.category}}</p>
  </div>

  <div class="product-general-info">

    {{!-- Product gallery. The first image will be displayed in the preview-image element --}}
    <div class="gallery">
      <div class="gallery-content">
        <img src="{{images.gallery.[0].path}}" alt="{{productInfo.model}} image" class="gallery-image-preview">
        {{!-- Container with all the images of the product --}}
        <ul class="gallery-images">
        {{#each images.gallery}}
          <img src="{{this.path}}" alt="{{../productInfo.model}} image" class="gallery-image">
        {{/each}}
        </ul>
      </div>
      <div class="gallery-buy">
        <img src="{{images.brand.path}}" alt="{{images.brand.name}} image" class="brand">
      <ul class="product-info-list">
        <li class="product-info-list-item"><strong>Model:</strong> {{productInfo.model}}</li>
        <li class="product-info-list-item"><strong>Family:</strong> {{productInfo.productFamily}}</li>
        <li class="product-info-list-item"><strong>Type:</strong> {{productInfo.type}}</li>
      </ul>
      {{#if ../user}}
        {{!-- Check if the product has discount --}}
        {{#if price.discountInfo}}
          <a href="/chart/add/{{_id}}" class="button add-to-chart-button">Add to chart<span><strike>{{price.amount}}€</strike>{{{calculateDiscount price.amount price.discountInfo.discount}}}€</span></a>
        {{else}}
          <a href="/chart/add/{{_id}}" class="button add-to-chart-button">Add to chart<span>{{{calculateTaxes price.amount price.taxes}}}€</span></a>
        {{/if}}
      {{else}}
        <p>You must be logged in to add this product to the chart</p>
      {{/if}}
      </div>
    </div>

    {{!-- General information of the product --}}
    <section class="product-section product-info">
    </section>

  </div>

  <div class="product-especs">
    <section class="product-section">

    </section>
  </div>
  
</div>
{{/with}}
