{{#with keyboard}}
<div class="product-specs">
  <section class="product-specs-section">
    <h2 class="product-specs-title">Characteristics</h2>
    <ul class="product-specs-list">
      <li class="product-specs-list-item"><strong>Type: </strong>{{keyboard.characteristics.type}}</li>
      <li class="product-specs-list-item"><strong>Number of keys:
        </strong>{{keyboard.characteristics.numberOfKeys}}</li>
      <li class="product-specs-list-item"><strong>Type of switch:
        </strong>{{keyboard.characteristics.typeOfSwitch}}</li>
    </ul>
  </section>
  <section class="products-specs-list">
    <h2 class="products-specs-title">design</h2>
    <ul class="products-specs-list">
      <li class="products-spects-list-item"><strong>Layout: </strong>{{keyboard.design.layout}}</li>
      <li class="products-spects-list-item"><strong>Ilumination RGB: </strong>{{keyboard.design.iluminationRGB}}</li>
    </ul>
  </section>
  <section class="products-specs-list">
    <h2 class="products-specs-title">ergonomics</h2>
    <ul class="products-specs-list">
      <li class="products-spects-list-item"><strong>Cable length: </strong>{{keyboard.ergonomics.cableLength}}</li>
      <li class="products-spects-list-item"><strong>Key resistance: </strong>{{keyboard.ergonomics.keyResistance}}</li>
    </ul>
  </section>
  <section class="product-specs-section">
    <h2 class="product-specs-title">Weight and dimensions</h2>
    <ul class="product-specs-list">
      <li class="product-specs-list-item"><strong>Width: </strong>{{keyboard.weightAndDimensions.width}}</li>
      <li class="product-specs-list-item"><strong>Height: </strong>{{keyboard.weightAndDimensions.height}}</li>
      <li class="product-specs-list-item"><strong>Depth: </strong>{{keyboard.weightAndDimensions.depth}}</li>
      <li class="product-specs-list-item"><strong>Weight: </strong>{{keyboard.weightAndDimensions.weight}}</li>
    </ul>
  </section>
</div>
{{/with}}