{{#with case}}
<div class="product-specs">
  <section class="product-specs-section">
    <h2 class="product-specs-title">Design</h2>
    <ul class="product-specs-list">
      <li class="product-specs-list-item"><strong>Type: </strong>{{case.design.type}}</li>
      <li class="product-specs-list-item"><strong>Cable Management:
        </strong>{{case.design.cableManagement}}</li>
      <li class="product-specs-list-item"><strong>Number of ports 3.5:
        </strong>{{case.design.numberOfPorts35}}</li>
      <li class="product-specs-list-item"><strong>Number of ports 2.5:
        </strong>{{case.design.numberOfPorts25}}</li>
      <li class="product-specs-list-item"><strong>Side window:
        </strong>{{case.design.sideWindows}}</li>
      <li class="product-specs-list-item"><strong>Number of ports USB 2.0:
        </strong>{{case.design.numberOfPortsUSB2}}</li>
      <li class="product-specs-list-item"><strong>Number of ports USB 3.0:
        </strong>{{case.design.numberOfPortsUSB3}}</li>
    </ul>
    <section class="products-specs-list">
      <h2 class="products-specs-title">Cooling</h2>
      <ul class="products-specs-list">
        <li class="products-spects-list-item"><strong>Number of fans: </strong>{{case.cooling.numberOfFans}}</li>
        <li class="products-spects-list-item"><strong>Water cooling: </strong>{{case.cooling.waterCooling}}</li>
      </ul>
    </section>
</div>
{{/with}}