{{#with monitor}}
<div class="product-specs">
  <section class="product-specs-section">
    <h2 class="product-specs-title">Screen</h2>
    <ul class="product-specs-list">
      <li class="product-specs-list-item"><strong>Resolution: </strong>{{monitor.screen.resolution}}</li>
      <li class="product-specs-list-item"><strong>Refresh rate: </strong>{{monitor.screen.refreshRate}}</li>
      <li class="product-specs-list-item"><strong>3D:
        </strong>{{monitor.screen.threeD}}</li>
      <li class="product-specs-list-item"><strong>Technology:
        </strong>{{monitor.screen.technology}}</li>
      <li class="product-specs-list-item"><strong>Inches:
        </strong>{{monitor.screen.inches}}</li>
      <li class="product-specs-list-item"><strong>Screen type:
        </strong>{{monitor.screen.screenType}}</li>
      <li class="product-specs-list-item"><strong>Speakers:
        </strong>{{monitor.screen.speakers}}</li>
      <li class="product-specs-list-item"><strong>Camera:
        </strong>{{monitor.screen.camera}}</li>
    </ul>
    <section class="products-specs-list">
      <h2 class="products-specs-title">Ports and interfaces</h2>
      <ul class="products-specs-list">
        <li class="products-spects-list-item"><strong>HDMI: </strong>{{monitor.portsAndInterfaces.hdmi}}</li>
        <li class="products-spects-list-item"><strong>Display port: </strong>{{monitor.portsAndInterfaces.displayport}}
        </li>
        <li class="products-spects-list-item"><strong>VGA: </strong>{{monitor.portsAndInterfaces.vga}}</li>
        <li class="products-spects-list-item"><strong>DVI: </strong>{{monitor.portsAndInterfaces.dvi}}</li>
      </ul>
    </section>
    <section class="products-specs-list">
      <h2 class="products-specs-title">Type and ports</h2>
      <ul class="products-specs-list">
        <li class="products-spects-list-item"><strong>Type: </strong>{{monitor.typeAndPorts.type}}</li>
        <li class="products-spects-list-item"><strong>HDMI: </strong>{{monitor.typeAndPorts.hdmi}}</li>
        <li class="products-spects-list-item"><strong>Display port: </strong>{{monitor.typeAndPorts.displayPort}}
        </li>
        <li class="products-spects-list-item"><strong>VGA: </strong>{{monitor.typeAndPorts.vga}}
        </li>
        <li class="products-spects-list-item"><strong>DVI: </strong>{{monitor.typeAndPorts.dvi}}
        </li>
      </ul>
    </section>
    <section class="product-specs-section">
      <h2 class="product-specs-title">Ergonomics</h2>
      <ul class="product-specs-list">
        <li class="product-specs-list-item"><strong>VESA: </strong>{{monitor.ergonomics.vesa}}</li>
      </ul>
    </section>
</div>
{{/with}}