{{#with mouse}}
<div class="product-specs">
  <section class="product-specs-section">
    <h2 class="product-specs-title">characteristics</h2>
    <ul class="product-specs-list">
      <li class="product-specs-list-item"><strong>Type: </strong>{{mouse.characteristics.type}}</li>
      <li class="product-specs-list-item"><strong>Interface: </strong>{{mouse.characteristics.interface}}</li>
      <li class="product-specs-list-item"><strong>Number of buttons:
        </strong>{{mouse.characteristics.numberOfButtons}}</li>
      <li class="product-specs-list-item"><strong>Movement resolution:
        </strong>{{mouse.characteristics.movementResolution}}</li>
      <li class="product-specs-list-item"><strong>Wireless:
        </strong>{{mouse.characteristics.wireless}}</li>
    </ul>
    <section class="products-specs-list">
      <h2 class="products-specs-title">
        <Design>
      </h2>
      <ul class="products-specs-list">
        <li class="products-spects-list-item"><strong>Form factor: </strong>{{mouse.design.formFactor}}</li>
        <li class="products-spects-list-item"><strong>Ilumination: </strong>{{mouse.design.ilumination}}
        </li>
        <li class="products-spects-list-item"><strong>Ilumination RGB: </strong>{{mouse.design.iluminationRGB}}</li>
      </ul>
    </section>
    <section class="products-specs-list">
      <h2 class="products-specs-title">ergonomics</h2>
      <ul class="products-specs-list">
        <li class="products-spects-list-item"><strong>Cable length: </strong>{{mouse.ergonomics.cableLength}}</li>
        <li class="products-spects-list-item"><strong>Button resistance: </strong>{{mouse.ergonomics.buttonResistance}}
        </li>
      </ul>
    </section>
    <section class="product-specs-section">
      <h2 class="product-specs-title">Ergonomics</h2>
      <ul class="product-specs-list">
        <li class="product-specs-list-item"><strong>VESA: </strong>{{mouse.ergonomics.vesa}}</li>
      </ul>
    </section>
    <section class="product-specs-section">
      <h2 class="product-specs-title">Weight and dimensions</h2>
      <ul class="product-specs-list">
        <li class="product-specs-list-item"><strong>Width: </strong>{{mouse.weightAndDimensions.width}}</li>
        <li class="product-specs-list-item"><strong>Height: </strong>{{mouse.weightAndDimensions.height}}</li>
        <li class="product-specs-list-item"><strong>Depth: </strong>{{mouse.weightAndDimensions.depth}}</li>
        <li class="product-specs-list-item"><strong>Weight: </strong>{{mouse.weightAndDimensions.weight}}</li>
      </ul>
    </section>
</div>
{{/with}}