{{> commonProductDetail product=product}}

{{#if product.ram}}
  {{> ramMemoryDetail ram=product}}
{{/if}}

{{#if product.powerSupply}}
  {{> powerSupplyDetail powerSupply=product}}
{{/if}}

{{#if product.processor}}
  {{> processorDetail processor=product}}
{{/if}}

{{#if product.graphicCard}}
  {{> graphicsCardDetail graphicCard=product}}
{{/if}}

{{#if product.case}}
  {{> caseDetail case=product}}
{{/if}}

{{#if product.motherBoard}}
  {{> motherBoardDetail motherBoard=product}}
{{/if}}

{{#if product.coolingSystem}}
  {{> coolingSystemDetail coolingSystem=product}}
{{/if}}

{{#if product.hardDrive}}
  {{> hardDriveDetail hardDrive=product}}
{{/if}}

{{#if product.monitor}}
  {{> monitorDetail monitor=product}}
{{/if}}

{{#if product.mouse}}
  {{> mouseDetails mouse=product}}
{{/if}}

{{#if product.keyboard}}
  {{> keyboardDetail keyboard=product}}
{{/if}}

<section class="comments" id="comments">
  {{#if user}}
  <form action="/comments/add" method="POST" class="comments-form">
    <input type="hidden" name="productId" value="{{product._id}}">
    <div class="comments-form-field">
      <textarea name="content" id="content" class="comments-form-textarea" placeholder="Comment content"></textarea>
      <label for="content" class="comments-form-label">Comment</label>
    </div>
    <div class="comments-form-actions">
      <input type="submit" value="Comment" class="button primary-button">
    </div>
  </form>
  {{else}}
  <div class="identify">
    <p>You must be logged in to comment</p>
  </div>
  {{/if}}
  <h2 class="comments-title">Comments</h2>
  <ul class="comments-list">
  {{#each product.comments}}
  <li>
    <div class="comment">
      <p class="comment-author"><strong>Author:</strong> {{this.author.profile.username}}</p>
      <p class="comment-creation-date"><strong>Created at:</strong> {{this.createdAt}}</p>
      <p class="comment-content">{{this.content}}</p>
    </div>
  </li>
  {{else}}
  <p>No comments yet</p>
  {{/each}}
  </ul>
</section>
